.forgotPassword {
    padding         : 25px 33px 30px;
    margin          : 0 auto;
    text-align      : center;
    border-radius   : 8px;
    background-color: #F9F9FE;
    height          : 600px;
    width           : 413px;
}

.logoTitle {
    margin-bottom: 32px;
    font-size    : 26px;
    font-weight  : 600;
    font-family  : Poppins;
    color        : #2D2E46;
}

.subTitle {
    margin-bottom: 38px;
    font-size    : 22px;
    font-weight  : 600;
    line-height  : 33px;
    height       : 33px;
    font-family  : Poppins;
    color        : #2D2E46;
}

.form {
    display            : flex;
    flex-direction     : column;
}

.messageInstruction {
    size            : 14px;
    color           : #707175;
    text-decoration : none;
    text-align      : left;
}

.buttonSendInstructions {
    margin-top: 142px;
}

.message {
    margin-top     : 30px;
    size           : 14px;
    color          : #707175;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color          : #21268F;
}