/* .table {
    border          : 1px solid;
    background-color: rgb(221, 199, 199);
    margin-top      : 24px;
    margin-bottom   : 24px;
    height          : 410px;
} */


.table {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 48px 48px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "tableHead"
      "tableBody"; 
    /* width: 669px;  */
    width           : 100%;
    box-shadow: 0px 3px 3px 3px #faf9fb;
  
/*    
    border          : 1px solid; */
    background-color: rgb(221, 199, 199);
    margin-top      : 24px;
    margin-bottom   : 24px;
    height          : 410px;
  }